.why__section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  width: 100%;
  color: black;
}

.why__heading {
  font-size: 45px;
  color: var(--color-primary);
  text-align: center;
  font-weight: 700;
  margin-bottom: 45px;
}

.why__paragraph {
  font-size: 22px;
  line-height: 28px;
  color: var(--color-gray-text);
  text-align: center;
}
