.modal__wrapper {
  background-color: var(--color-primary);
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
}
